Tests: testsuite
Depends: build-essential,
         dbus-x11,
         libqt4-sql-sqlite,
         xauth,
         xvfb,
         @,
         @builddeps@
Restrictions: rw-build-tree

Tests: acc
Depends: dh-acc, exuberant-ctags, @
Restrictions: allow-stderr
